div{text-align: center;
    width: 600px;
height: 200px;
border-radius: 40px;
background-color: rgb(86, 147, 212);
background-size: cover;
background-position: center;
margin-left: 30%;
margin-top: 10%;}