h1{margin-left: 40%};
h2{margin-left: 40%;}
button{width: 100px;
    height: 50px;
    background-color: rgb(123, 200, 123);
    color: rgb(159, 55, 55);
    border-radius: 90px;
    font-size: 18px;
    float: right;
    margin-top: 150px;
    
}
a{
    text-decoration: none;
    color: white;
}

















































































