h1{margin-left: 30%;
    text-decoration:none;
    color: blue;}
h2{margin-left: 1%;}
.button{margin-left: 15%;
width: 80px;
height: 30px;
font-size: 18px;
border-radius: 14px;
background-color: rgb(15, 107, 15);
text-decoration: none;
color: aliceblue;}






























