h1{margin-left: 50%;}
button{width: 100px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(23, 63, 23);
    border-radius: 70px;
    font-size: 16px;}

a {text-decoration: none;
    color: white;}







































